<h1>All Cars</h1>
<div>
    <a href="/car/new"><button>Create new thing</button></a>
</div>
{{#each allCars}}
<div>
  {{name}}
  <a href="/car/{{id}}"><button>View</button></a>
  <a href="/car/{{id}}/edit"><button>Edit</button></a>
  <button class="delete" data-id="{{id}}">Delete</button>
</div>
{{/each}}

<script>
  $(".delete").on("click", function() {
    const idToDelete = $(this).data("id")

    $.ajax({
      url: `/api/car/${idToDelete}`,
      method: "DELETE"
    }).then(function () {
      location.reload()
    })
  })
</script>