<h1>All Cars</h1>

{{#each allCars}}
<div>
  {{name}}
  -
  {{price}}
  <a href="/car/{{id}}"><button>View</button></a>
  <a href="/car/{{id}}/edit"><button>Edit</button></a>
  <button>Delete</button>
</div>
{{/each}}