<h1>Add New Car</h1>

<form id="new-car">
    <input type="text" value="{{name}}" id="name-input">
    <input type="text" value="{{price}}" id="price-input">
    <input type="hidden" value="{{id}}" id="id-input">
    <button>Submit Changes</button>
</form>

<script>
    $("#new-car").on("submit", function (event) {
        event.preventDefault();
        const name = $("#name-input").val();
        const price = $("#price-input").val();
        const id = $("#id-input").val();
        console.log(id);
        $.ajax({
            url: `/api/car`,
            method: "POST",
            data: {
                name: name,
                price: price,
            }
        }).then(function () {
            window.location.replace(`/car/${id}`);
        })
    })
</script>